@{
    ViewBag.Title = "Home Page";
}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome!</h1>
            <p>This site is all about the slinger's you ate.</p>
            <p>
                What's a slinger? A classic slinger is a delicious St. Louis dish made of hashbrowns,
                hamburger patty's, two over easy eggs, all topped with chili, shredded cheese and onion. MMMmmm
            </p>

            <p>You want to read about other people's slinger's?  Click below. </p>

            <p><a class="btn btn-primary btn-lg" href="@Url.Action("ListView", "Home")" role="button">Slinger List &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h2>Did you eat a slinger?</h2>
                <p>Let's hear all about it.  Tell us where, when, what ingredients.... all that stuff.</p>
            </div>
            <div class="col-md-6">
                <p>Click the Entry Form button to enter your slinger info.</p>
                <p><a class="btn btn-secondary" href="@Url.Action("AddEntry", "Home")" role="button">Entry Form &raquo;</a></p>
            </div>

        </div>

    </div> <!-- /container -->

</main>